<%- include('./partials/header')%>

<a href="/login" class="p-10 text-3xl"><i class="ri-arrow-left-line"></i></a>
<h2 class="text-center text-3xl mt-20">Enter New Password</h2>
<form action="/forgot-password/<%= id%>" method="post" class="w-[40%] mt-5 border border-gray-500 flex flex-col p-10 gap-5 m-auto rounded-3xl">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="password" placeholder="new Password" name="password">
    <button class="p-3 text-2xl rounded-2xl bg-gray-900 text-gray-100">Set Password</button>
</form>

<%- include('./partials/footer')%>